/*! -------------- 1- NAVBAR --------------------- */

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');


}
.navbar-nav{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar .nav-link:hover{
    color: white
   
}
.nav-link{
    color: white;
}

/*! -------------- 2- CAROUSEL ------------------- */
.carousel-item{
    max-height: calc(100vh - 95px);
}



.carousel-caption{
    bottom: 5rem;
}
.carousel-indicators{
    gap:0.7rem !important;
}
.carousel-caption i{
    height: 50px;
    width: 50px;
}



/*! -------------- 3- ABOUT SECTION -------------- */

/*! -------------- 4- INSTRUCTORS ---------------- */
section#instructors .card {
 transition: transform 0.8s ease-in-out;

}
section#instructors .card:hover{
transform: scale(1.03);
    
}
 section#instructors i{
 transition: transform .6s ease-in-out;   
 }
 section#instructors i:hover{
    opacity: 0.5;
 }

/*! -------------- 4- STUDENTS SECTION ----------- */

/*! -------------- 5- COURSES SECTION ------------ */
section#courses .nav-link.active{
 background-color: rgb(99, 48, 174);
}

section#courses .nav-link{
    color: rgb(190, 164, 164);
}


/*! -------------- 6- CONTACT SECTION ------------ */

/*! -------------- 7- FOOTER --------------------- */
footer i{
 font-size: 2rem;
 margin-right: 0.8rem;
 transition:1s
}


.btn-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: rgb(100, 65, 159);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgb(25, 159, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 1s;
    font-size: 1.5rem;
}

.btn-up:hover{
    color: black;
}

.btn-up:hover i{
    transform: scale(1.5);
}
